body {
    background:#000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    margin: 5% auto; 
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    
    .logo {
        text-align: center;
        margin: 5% 0;
    }
    nav {
        background: #fff;
        color: #666;
    }
    .search-field {
        input[type="text"] {
            height: 45px;
            max-width:450px;;
            width: 100%;
            opacity: 0.5;
            border-radius: 5%;
            color: #666;
            font-size: 1.8rem;
            padding-left: 40px;
            background-image: url(img/search.svg);
            background-repeat:no-repeat;
            background-position:6px;
            border:1px solid #DADADA;
            margin-top:10px;
            padding-left:35px;
            height:50px;
            box-shadow:0 0 10px;
            -webkit-box-shadow:0 0 10px;
            /* For I.E */
            -moz-box-shadow:0 0 10px;
            /* For Mozilla Web Browser*/
            border-radius:5px;
            -webkit-border-radius:5px;
            /* For I.E */
            -moz-border-radius:5px
            /* For Mozilla Web Browser*/
        }
    }
}
section {
    background: #ddd;
    color: #333;
    padding: none;
    margin: 0 auto;
    max-width: 480px;
    width: 100%;

    #wrapper {
        margin: 0 auto;
        padding: 0 5%;

        .search-container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            article {
                display: flex;
                margin: 2%;
                justify-content: space-between;

                h4 {
                    padding: 0 5%;
                    font-size: 1.0rem;
                }

            }
        }
    }
}
footer{
    background: #dadada;
}

